

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

header, nav{
    font-family: 'Quicksand';
    font-weight: 300;
}

body{
    background-image: url(../images/background.jpg);
}


nav {
    background-color: #8a2613;
    margin-bottom: 20px;
    border-bottom: double 10px #e6e0e0;
    border-top: double 10px #e6e0e0;
}

nav ul{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 200px;
    min-height: 100px;
    padding: 20px;

}

nav li{
    width: 200px;
    margin:14px;
    margin-left: auto;
    margin-right: auto;
}

nav a{
    color: #e6e0e0;
    padding: 2px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 14px;


}    

li.active a{
    color: #8a2613;
    background-color: #e6e0e0;
    border: solid 0.25px #f2f2f2;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

nav li.active a:hover{
    text-decoration: none;
}



h1 , main {
    min-width: 200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-family: 'Quicksand';
    font-weight: 200;
    padding: 30px;
    border-radius: 4px;
    background-color: bisque;
    border: 2px solid gainsboro;
}

h1{
    align-self: center;
    font-weight: 600;
}


grid-gallery {
    width:90%;
    max-width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img.gallery {

    border: solid 5px #242424;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px; 
    border-radius: 2px;
    align-self: center;
    max-width: 80%;
    
}

img.gallery:nth-child(odd) {
    border: solid 5px #006f40;
}

img.gallery:hover, img.gallery:nth-child(even):hover {
    border: ridge 10px #242424;
    width: 85%;
    border-radius: 8px;
    padding: 0px; 
}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    background-color: #242424;
    font-family: 'Quicksand';
    font-size: 14px;
    font-weight: 400;
    color: antiquewhite;
    align-items: center;
    justify-content: space-evenly;
}

.form{
    width:80%;
    display: grid;
    flex-direction: column;
    justify-content: center;
}

section{
    justify-content: center;
}

form {
    padding:10px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    border: solid 3px #8a2613;
}

section {
    margin: 10px;
}


main{
    min-height: 700px;
    margin-bottom: 10px;
}

#airplane {
    animation-name: mymove;
    animation-duration: 10s;
    animation-iteration-count: 500;
    width:200px;
}
  
@keyframes mymove {
    from {
        margin-left: 200%;
    }
    
    to {
        margin-left: -200%;
    }
}

@keyframes planet {
    from {
        margin-bottom: 300%;
    }
    
    to {
        margin-bottom: 256%;
    }

    to {
        margin-bottom: 306%;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    #airplane {
        animation: none;
    }
    balloon:active{
        animation:none;
    }
  }

gallery-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

balloon:active img{
    animation: planet;
    animation-duration: 3s;
    animation-iteration-count: 500;
    width:200px;
    z-index: 999;
    
}

balloon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}